body {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    font-size: 14px;
    height: 100%;
    display: block;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p {
    font-family: "Microsoft YaHei", "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

.clear {
    clear: both;
}

#nav {
    width: 100%;
    background: #222;
    height: 60px;
    margin-bottom: 30px;
}

.navblock {
    width: 1280px;
    margin: 0 auto;
    padding: 15px 0 0 0;
}

.nav-child {
    list-style: none;
    display: inline;
}

.navlogo {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    display: block;
    float: left;
}

.navlist {
    display: block;
    float: right;
}

.navlist a {
    font-size: 16px;
    font-weight: 400;
    color: rgb(156, 220, 254);
    text-decoration: none;
}

.navlist a:hover {
    color: #fff
}

#content {
    width: 1280px;
    margin: 0 auto;
    display: block;
}

.uname {
    color: #fff;
    font-size: 16px;
}

#toolbar {
    float: right;
    margin: 5px;
    padding: 5px;
}

#indexserach {
    width: 260px;
    padding: 5px;
    margin: 5px 10px 0 10px;
    display: inline-block;
    font-size: 16px;
}

#indexsbutton {
    padding: 10px 25px;
    margin-bottom: 5px;
}

.model,
.location {
    cursor: pointer
}

.model:hover,
.location:hover {
    color: #2573e9;
    text-decoration: underline;
}