{% macro render_field(field) %}
    <div class="cuser_from">
        <div class="cuser_block">
            <label class="cuser_label">{{ field.label }}</label>
            {{ field(**kwargs)|safe }}
            <div class="cuser_errors">{% if field.errors %}
                <ul class=cuser_errors>
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}