{% extends "base.html" %} {% block title %}管理后台 - 设备信息管理系统{% endblock %} {% block content %} {% include "nav.html" %}
<div id="admincontent">
    <div id="leftmenu">
        <ul id="sideul" class="nav nav-sidebar">
            <li class="sideli"><a class="adminmenu sideactive" href="{{url_for('adminbg.admin')}}">首页</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.query')}}">数据查询</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.lvrmanager')}}">弱电间信息管理</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.dvrmanage')}}">设备信息管理</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.dvrstatus')}}">设备情况管理</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.basicinfo')}}">基础信息维护</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.usrmanage')}}">用户管理</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.sysmanage')}}">系统设置</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.logviews')}}">操作日志</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.notelist')}}">通知公告管理</a></li>
        </ul>
    </div>
    <div id="rightcont">
        <h1 class="admintitle">管理后台</h1>
        <div class="welcome">
            <span>hi, {{ current_user.username }} 欢迎使用设备信息管理系统</span>
        </div>
        <div class="backlog">
            <div class="alabelblock"><label class="noticelabel">待办事项</label><a href="{{url_for('adminbg.notecreate')}}" class="btn btn-primary nadeventbutton">创建新事项</a></div> {% if not events %}
            <lable>暂无</lable>
            {% else %}
            <ul class="noticeul">
                <li class="noticeli">
                    <label class="noticeinline eventname">待办事项</label>
                    <label class="noticeinline ecreatedate">创建时间</label>
                    <label class="noticeinline ecompdate">截止时间</label>
                </li>
                {% for eventlist in events %}
                <li class="noticeli">
                    <label class="noticeinline eventname">{{ eventlist.eventname }}</label>
                    <label class="noticeinline ecreatedate">{{ eventlist.ecreationdate }}</label>
                    <label class="noticeinline ecompdate">{{ eventlist.eventtime }}</label>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="inform">
            <div class="alabelblock"><label class="noticelabel">通知公告</label><a href="{{url_for('adminbg.notecreate')}}" class="btn btn-primary nadnoticebutton">创建新公告</a></div> {% if not data %}
            <lable>暂无</lable>
            {% else %}
            <ul class="noticeul">
                <li class="noticeli">
                    <label class="noticeinline noticename">公告名称</label>
                    <label class="noticeinline noticedate">创建时间</label>
                    <label class="noticeinline noticeuser">创建人</label>
                </li>
                {% for datalist in data %}
                <li class="noticeli">
                    <label class="noticeinline noticename"><a href="{{url_for('indexview.indexnotice',id=datalist.id)}}">{{ datalist.articlename }}</a></label>
                    <label class="noticeinline noticedate">{{ datalist.createdate }}</label>
                    <label class="noticeinline noticeuser">{{ datalist.createuser }}</label>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}