{% extends "/admin/basicinfo_base.html" %}
{% block title %}校区信息维护|管理后台 - 设备信息管理系统{% endblock %}
{%import '_macros.html' as macros%}
{% block content %}
<div class="iContent">
    <div class="ileft">
        <div class="iSheader">
            <h2 class="iheader i_inline">校区信息</h2>
            <label class="i_label i_inline">{{ keyword }} 的搜索结果</label>
        </div>
        <label class="i_label">添加新校区</label>
        <label class="i_label" for="i_input">校区名称</label>
        <input type="text" id="i_input"/>
        <button type="button" class="btn btn-primary">添加校区</button>
    </div>
    <div class="iright">
        <div id="irightbar">
            <div class="idowplist">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownOper" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                        批量操作
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownOper">
                        <li>
                            <a href="#">删除</a>
                        </li>
                    </ul>
                </div>
                <button id="iopearbutton" class="btn btn-primary">应用</button>
            </div>
            <div class="isearch_block">
                <input id="indexserach" class="form-control input-lg input-serach" type="text" name="devinfoserp" placeholder="搜索校区名称">
                <button id="indexsbutton" class="btn btn-primary">搜 索</button>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th></th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for row in datas %}
                <tr>
                    <th width="10%" scope="row">{{ row.ID }}</th>
                    <td width="5%">
                        <input type="checkbox" name="vehicle" value="{{ row.id }}" />
                    </td>
                    <td width="50%">{{ row.Campus }}</td>
                    <td width="35%">编辑|删除</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="listbottombar">
            <div class="ibtmdowplist">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownOper" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                        批量操作
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownOper">
                        <li>
                            <a href="#">删除</a>
                        </li>
                    </ul>
                </div>
                <button id="iopearbutton" class="btn btn-primary">应用</button>
            </div>
            <div class="ipagination">
                {%if pagination%} {{macros.pagination_widget(pagination,'adminbg.basiccampus')}} {%endif%}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("button#indexsbutton").on('click', function () {
            var keyword = $("input#indexserach").val()
            window.location.href = ("{{ url_for('adminbg.basic_c_search') }}" + "?keyword=" + encodeURIComponent($.base64.encode(keyword)))
        })
</script>
{% endblock %}