{% extends "/admin/basicinfo_base.html" %}
{% block title %}楼栋信息维护|管理后台 - 设备信息管理系统{% endblock %}
{%import '/admin/_macros.html' as macros%}
{% block content %}
<div class="iContent">
    <div class="ileft">
        <div class="iSheader">
            <h2 class="iheader i_inline">楼栋信息</h2>
            <label class="i_label i_inline">{{ campus_name }} 楼栋信息</label>
        </div>
        {% if campus_id != "-1" %}
        <label class="i_label">添加新楼栋</label>
        <label class="i_label" for="i_input">楼栋名称</label>
        <input type="text" id="i_input"/>
        <button id="i_c_add" type="button" class="btn btn-primary">添加楼栋</button>
        {% else %}
        <label class="i_label">全部校区仅提供查询功能，需要添加/修改/删除请针对校区进行操作。</label>
        {% endif %}
    </div>
    <div class="iright">
        <div id="irightbar">
            <div class="isearch_block">
                <input id="indexserach" class="form-control input-lg input-serach" type="text" name="devinfoserp" placeholder="搜索楼宇名称">
                <button id="indexsbutton" class="btn btn-primary">搜 索</button>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th><input id="checkboxall" type="checkbox" name="oper_all"/></th>
                    <th>所属校区</th>
                    <th>楼栋名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for row in datas %}
                <tr>
                    <th width="10%" scope="row">{{ row.ID }}</th>
                    <td width="5%">
                        {% if campus_id != "-1" %}
                        <input id="oper-{{ row.ID }}" type="checkbox" name="oper" value="{{ row.ID }}" />
                        {% else %}
                        <input id="oper-{{ row.ID }}" type="checkbox" name="oper" value="{{ row.ID }}" disabled/>
                        {% endif %}
                    </td>
                    <td width="30%">{{ row.Campus }}</td>
                    <td width="30%">{{ row.BuildName }}</td>
                    <td width="25%">
                        {% if campus_id != "-1" %}
                        <button onclick="javascript:js_bbuild_modfiy('{{ row.ID }}', '{{ row.BuildName }}')" type="button" class="btn btn-link inline_button_link">编辑</button> |
                        <button onclick="javascript:js_delArray_only('{{ row.ID }}', 'build')" type="button" class="btn btn-link inline_button_link">删除</button>
                        {% else %}
                        <button type="button" class="btn btn-link inline_button_link" disabled>编辑</button> |
                        <button type="button" class="btn btn-link inline_button_link" disabled>删除</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="listbottombar">
            <div class="ibtmdowplist">
                <div class="dropdown">
                    <select id="ipage" name="action" id="bulk-action-selector-top">
                        <option value="-1">批量操作</option>
                        <option value="delete">删除</option>
                    </select>
                </div>
                {% if campus_id != "-1" %}
                <button onclick="javascript:js_b_batchd()" id="iopearbutton" class="btn btn-primary">应用</button>
                {% else %}
                <button id="iopearbutton" class="btn btn-primary" disabled>应用</button>
                {% endif %}
            </div>
            <div class="ipagination">
                {%if pagination%} {{macros.pagination_widget(pagination,'adminbg.basic_build', campus_id=request.args.get('campus_id'))}} {%endif%}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#transfer').click(function() {
        var page = $('#transfer_page').val();
        window.location.href = "{{url_for('adminbg.basic_build')}}" + "?page=" + page;
    })
    $("button#indexsbutton").on('click', function () {
            var keyword = $("input#indexserach").val()
            window.location.href = ("{{ url_for('adminbg.basic_b_search') }}" + "?keyword=" + encodeURIComponent($.base64.encode(keyword)))
        })
    $("button#i_c_add").on('click', function(){
        $.ajax({
            url: $SCRIPT_ROOT + "admin/basicinfo/build/add",
            type: "POST",
            data:{
                campus_id: "{{ campus_id }}",
                buildname: $("input#i_input").val()
            },
            dateType: "json",
            success: function(resp) {
                resp = JSON.parse(resp)
                if (resp.status != 1) {
                    alert("添加失败 " + resp.message)
                }else{
                    alert("添加成功")
                    window.location.reload()
                }
            }
        })
    })
</script>
{% endblock %}