{% extends "base.html" %}{% block head%}
<script src="{{ url_for('static', filename='js/dvrcommon.js') }}" type="text/javascript"></script>
{% endblock %}
{% block title %}设备信息管理|管理后台 - 设备信息管理系统{% endblock %} {%import '_macros.html' as macros%}{% block content %} {% include "nav.html" %}
<div id="admincontent">
    <div id="leftmenu">
        <ul id="sideul" class="nav nav-sidebar">
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.admin')}}">首页</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.query')}}">数据查询</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.lvrmanager')}}">弱电间信息管理</a></li>
            <li class="sideli"><a class="adminmenu  sideactive" href="{{url_for('adminbg.dvrmanage')}}">设备信息管理</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.basicinfo')}}">基础信息维护</a></li>
            {% if current_user.is_suadmin() %}
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.usrmanage')}}">用户管理</a></li>
            {% endif %}
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.sysmanage')}}">系统设置</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.logviews')}}">操作日志</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.notelist')}}">通知公告管理</a></li>
        </ul>
    </div>
    <div id="rightcont">
        {% if devtypebname == "" and devostatus == "" %}
        <h1 class="admintitle">设备信息管理 - 全部设备 - 数据查询结果</h1>
        {% endif %}
        {% if devtypebname == "" and devostatus == "Y" %}
        <h1 class="admintitle">设备信息管理 - 全部上架设备 - 数据查询结果</h1>
        {% endif %}
        {% if devtypebname == "" and devostatus == "N" %}
        <h1 class="admintitle">设备信息管理 - 全部未上架设备 - 数据查询结果</h1>
        {% endif %}
        {% if devtypebname != "" and devostatus == "Y" %}
        <h1 class="admintitle">设备信息管理 - {{devtypebname}} 上架设备 - 数据查询结果</h1>
        {% endif %}
        {% if devtypebname != "" and devostatus == "N" %}
        <h1 class="admintitle">设备信息管理 - {{devtypebname}} 未上架设备 - 数据查询结果</h1>
        {% endif %}
        {% if devtypebname != "" and devostatus == "" %}
        <h1 class="admintitle">设备信息管理 - {{devtypebname}} 全部设备 - 数据查询结果</h1>
        {% endif %}
        <div id="toolbar">
                <div id="adquery">
                        <label>设备类型</label>
                        <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_devtype" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">{% if devtypebname == "" %}全部{% else %}{{devtypebname}}{% endif %}<span class="caret"></span></button>
                                <ul id="ddm-types" class="dropdown-menu" aria-labelledby="dropdown_devtype">
                                    <li>
                                        <a href="javascript:void(0);" rel="all">全部</a>
                                    </li>
                                    {%- for devtypeone in devtype %}
                                    <li>
                                        <a href="javascript:void(0);" rel="dtypes">{{ devtypeone.Type }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                        </div>
                        <label>上架状态</label>
                        <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_devonline" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">{% if devostatus == "" %}全部{% elif devostatus == "Y"%}是{% else %}否{% endif %}<span class="caret"></span></button>
                                <ul id="ddm-online" class="dropdown-menu" aria-labelledby="dropdown_devonline">
                                    <li>
                                        <a href="javascript:void(0);" rel="all">全部</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" rel="dtypes">是</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" rel="dtypes">否</a>
                                    </li>
                                </ul>
                        </div>
                        <button id="adqbutton" class="btn btn-primary">查询</button>
                </div>
                <div id="serachbar">
                        <input id="indexserach" class="form-control input-lg input-serach" type="text" name="devinfoserp" placeholder="请输入搜索关键词（支持模糊搜索）">
                        <button id="indexsbutton" class="dvr_serach btn btn-primary">搜 索</button>
                    </div>
        </div>
        <div class="adminpanel panel-info">
            <div class="panel-heading">全部数据</div>
            {% if count == 0 %}
            <div id="data">
                    <p>暂无相关数据</p>
                </div>
            {% else %}
            <div id="data">
                <table id="devinfolist" class="tabledevinfo table table-striped table-hover">
                    <tr>
                        <th>序号</th>
                        <th><input id="checkboxall" type="checkbox" name="oper_all"></th>
                        <th>设备名称</th>
                        <th>设备类型</th>
                        <th>设备序列号</th>
                        <th>是否上架</th>
                        <th>唯一ID</th>
                        <th>相关操作</th>
                    </tr>
                    {% for devinfone in datas %}
                    <tr class="jsondata">
                        <td>{{ devinfone.ID }}</td>
                        <td><input id="oper-{{ devinfone.ID }}" type="checkbox" name="oper" value="{{ devinfone.ID }}" /></td>
                        <td>{{ devinfone.DeviceName }}</td>
                        <td>{{ devinfone.DeviceCategory }}</td>
                        <td>{{ devinfone.DeviceSN }}</td>
                        <td>{{ devinfone.DeviceCondition }}</td>
                        <td>{{ devinfone.DeviceID }}</td>
                        <td><button onclick="" type="button" class="btn btn-link inline_button_link">管理</button></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            <div class="ajaxnetpage">
                <a id="ajaxntindex" class="btn btn-primary dvrlistajaxnet" href="javascript:void(0);">下一页</a>
            </div>
            <div class="listbottombar">
                <div class="ibtmdowplist">
                    <div class="dropdown">
                        <select id="ipage" name="action" id="bulk-action-selector-top">
                            <option value="-1">批量操作</option>
                            <option value="dvrup">上架</option>
                            <option value="dvrdown">下架</option>
                            <option value="delete">删除</option>
                        </select>
                    </div>
                    <button onclick="javascript:js_dvr_batchd()" id="iopearbutton" class="btn btn-primary">应用</button>
                </div>
                <div class="fullsize ipagination">
                    {%if pagination%} {{macros.pagination_widget(pagination,'adminbg.dvrmanagelist', devtype=request.args.get('devtype'),devonline=request.args.get('devonline'), transclass=transferclass)}} {%endif%}
                </div>
            </div>
        </div>
</div>
<script type="text/javascript">
    var devtype_info = "{{ request.args.get('devtype') }}"
    var devonline_info = "{{ request.args.get('devonline') }}"
</script>

{% endblock %}