{% extends "base.html" %}{% block head%}
<script src="{{ url_for('static', filename='js/dvrcommon.js') }}" type="text/javascript"></script>
{% endblock %}
{% block title %}{{ keyword }} 搜索结果| 设备信息管理 | 管理后台 - 设备信息管理系统{% endblock %} {%import '_macros.html' as macros%}{% block content %} {% include "nav.html" %}
<div id="admincontent">
    <div id="leftmenu">
        <ul id="sideul" class="nav nav-sidebar">
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.admin')}}">首页</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.query')}}">数据查询</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.lvrmanager')}}">弱电间信息管理</a></li>
            <li class="sideli"><a class="adminmenu  sideactive" href="{{url_for('adminbg.dvrmanage')}}">设备信息管理</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.basicinfo')}}">基础信息维护</a></li>
            {% if current_user.is_suadmin() %}
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.usrmanage')}}">用户管理</a></li>
            {% endif %}
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.sysmanage')}}">系统设置</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.logviews')}}">操作日志</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.notelist')}}">通知公告管理</a></li>
        </ul>
    </div>
    <div id="rightcont">
        <h1 class="admintitle">设备信息管理 - {{keyword}} 搜索结果 - 数据查询结果</h1>
        <div id="toolbar">
                <div id="serachpage">
                        <input id="indexserach" class="form-control input-lg input-serach" type="text" name="devinfoserp" placeholder="请输入搜索关键词（支持模糊搜索）">
                        <button id="indexsbutton" class="btn btn-primary dvr_serach">搜 索</button>
                    </div>
        </div>
        <div class="adminpanel panel-info">
            {% if count == 0 %}
            <div class="panel-heading">全部数据</div>
            <div id="data">
                    <p>暂无相关数据</p>
                </div>
            {% else %}
            <div class="panel-heading">{{ keyword }} 搜索结果 共<span>{{count}}</span> 条</div>
            <div id="data">
                <table id="devinfolist" class="tabledevinfo table table-striped table-hover">
                    <tr>
                        <th>序号</th>
                        <th><input id="checkboxall" type="checkbox" name="oper_all"></th>
                        <th>设备名称</th>
                        <th>设备类型</th>
                        <th>设备序列号</th>
                        <th>是否上架</th>
                        <th>唯一ID</th>
                        <th>相关操作</th>
                    </tr>
                    {% for devinfone in datas %}
                    <tr class="jsondata">
                        <td>{{ devinfone.ID }}</td>
                        <td><input id="oper-{{ devinfone.ID }}" type="checkbox" name="oper" value="{{ devinfone.DeviceID }}" /></td>
                        <td>{{ devinfone.DeviceName }}</td>
                        <td>{{ devinfone.DeviceCategory }}</td>
                        <td>{{ devinfone.DeviceSN }}</td>
                        <td>{{ devinfone.DeviceCondition }}</td>
                        <td>{{ devinfone.DeviceID }}</td>
                        <td>
                                <button onclick="javascript:mdevice(js_dvr_idarry('{{ devinfone.DeviceID }}'), 'get')" type="button" class="btn btn-link inline_button_link">管理</button> | 
                                {% if devinfone.DeviceCondition == "Y"%}
                                <button onclick="javascript:js_dvr_putaway(js_dvr_idarry('{{ devinfone.DeviceID }}'), 'up')" type="button" class="btn btn-link inline_button_link" disabled>上架</button> |
                                <button onclick="javascript:js_dvr_putaway(js_dvr_idarry('{{ devinfone.DeviceID }}'), 'down')" type="button" class="btn btn-link inline_button_link">下架</button> | 
                                <button onclick="javascript:js_dvr_delDevice(js_dvr_idarry('{{ devinfone.DeviceID }}'))" type="button" class="btn btn-link inline_button_link" disabled>删除</button>
                                {% else %}
                                <button onclick="javascript:js_dvr_putaway(js_dvr_idarry('{{ devinfone.DeviceID }}'), 'up')" type="button" class="btn btn-link inline_button_link">上架</button> |
                                <button onclick="javascript:js_dvr_putaway(js_dvr_idarry('{{ devinfone.DeviceID }}'), 'down')" type="button" class="btn btn-link inline_button_link" disabled>下架</button> | 
                                <button onclick="javascript:js_dvr_delDevice(js_dvr_idarry('{{ devinfone.DeviceID }}'))" type="button" class="btn btn-link inline_button_link">删除</button>
                                {% endif %}
                            </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            <div class="ajaxnetpage">
                <a id="ajaxntindex" class="btn btn-primary dvrsajaxnet" href="javascript:void(0);">下一页</a>
            </div>
            <div class="listbottombar">
                <div class="ibtmdowplist">
                    <div class="dropdown">
                        <select id="ipage" name="action" id="bulk-action-selector-top">
                            <option value="-1">批量操作</option>
                            <option value="dvrup">上架</option>
                            <option value="dvrdown">下架</option>
                            <option value="delete">删除</option>
                        </select>
                    </div>
                    <button onclick="javascript:js_dvr_batchd()" id="iopearbutton" class="btn btn-primary">应用</button>
                </div>
                <div class="fullsize ipagination">
                    {%if pagination%} {{macros.pagination_widget(pagination,'adminbg.dvrsearch', keyword=request.args.get('keyword') | safe, transclass=transferclass) }} {%endif%}
                </div>
            </div>
        </div>
</div>
<script type="text/javascript">
    var keyword = "{{ keyword }}"
    var keyword_url = "{{ request.args.get('keyword') }}"
</script>
{% endblock %}