<!DOCTYPE html>
<html lang="zh-cn">

<head>
        {{ JSGlue.include() }}
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='layer/layer.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='laydate/laydate.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.loadTemplate.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/dvrcommon.js') }}" type="text/javascript"></script>
    <script type=text/javascript>
        var $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
        var $PATH_ROOT = {{request.path | tojson | safe}}
        var csrf_token = "{{ csrf_token() }}"

    </script>
</head>
<body>
    <div class="devadd_main">
        <div id="devadd_form">
            <table id="devadd_table">
                <tbody>
                <tr class="devadd_th">
                    <th>设备名称</th>
                    <th>设备类型</th>
                    <th>设备序列号</th>
                    <th>唯一ID</th>
                    <th>是否上架</th>
                    <th>校区</th>
                    <th>弱电间名称</th>
                    <th>增加/删除</th>
                </tr>
                <tr class="devadd_newline">
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <select name="putaway" id="devadd_putaway">
                            <option value="Y">是</option>
                            <option value="N">否</option>
                        </select>
                    </td>
                    <td>
                        <select name="campus" id="devadd_campus">
                            <option value="">请选择校区</option>
                            {%- for campusone in campus %}
                            <option value="{{ campusone.Campus }}">{{ campusone.Campus }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="putaway" id="devadd_build">
                            <option value="">请选择弱电间</option>
                        </select>
                    </td>
                    <td>
                        <a class="devaddspan"><span class="glyphicon glyphicon-plus devaddminus" aria-hidden="true"></span></a>
                        <a class="devdelspan"><span class="glyphicon glyphicon-minus devaddminus" aria-hidden="true"></span></a>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="devadd_operation">
            <button type="button" class="btn btn-primary devadd_addbutton">添加设备</button>
        </div>
    </div>
</body>
</html>