{% extends "base.html" %}{%import '_macros.html' as macros%} {% block title %}管理后台 - 设备信息管理系统{% endblock %} {% block content %} {% include "nav.html" %}
<div id="admincontent">
    <div id="leftmenu">
        <ul id="sideul" class="nav nav-sidebar">
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.admin')}}">首页</a></li>
            <li class="sideli"><a class="adminmenu sideactive" href="{{url_for('adminbg.query')}}">数据查询</a></li>
            <li class="sideli">弱电间信息管理</li>
            <li class="sideli">设备信息管理</li>
            <li class="sideli">设备情况管理</li>
            <li class="sideli">基础信息维护</li>
            <li class="sideli">用户管理</li>
            <li class="sideli">系统设置</li>
            <li class="sideli">操作日志</li>
        </ul>
    </div>
    <div id="rightcont">
        <div class="adminbar">
            <label>用户名检索</label><input></input>
            <label>日志类检索</label><select></select>
            <label>日志时间检索</label>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">操作日志</div>
            <div id="data">
                <table id="devinfolist" class="tabledevinfo table table-striped table-hover">
                    <tr>
                        <th>ID</th>
                        <th>日期</th>
                        <th>用户名</th>
                        <th>来访IP</th>
                        <th>日志内容</th>
                    </tr>
                    {% for data in posts %}
                    <tr class="jsondata">
                        <td>{{ data.ID }}</td>
                        <td>{{ data.Date }}</td>
                        <td>{{ data.UserName }}</td>
                        <td>{{ data.IP }}</td>
                        <td>{{ data.Log }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="ajaxnetpage"><a id="ajaxntindex" class="btn btn-primary" href="javascript:void(0);">下一页</a></div>
        <div>
            {%if pagination%} {{macros.pagination_widget(pagination,'adminbg.logviews')}} {%endif%}
        </div>
    </div>


    {% endblock %}