{% extends "base.html" %} {% block title %}管理后台 - 设备信息管理系统{% endblock %} {% block content %} {% include "nav.html" %}
<div id="admincontent">
    <div id="leftmenu">
        <ul id="sideul" class="nav nav-sidebar">
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.admin')}}">首页</a></li>
            <li class="sideli"><a class="adminmenu sideactive" href="{{url_for('adminbg.query')}}">数据查询</a></li>
            <li class="sideli">弱电间信息管理</li>
            <li class="sideli">设备信息管理</li>
            <li class="sideli">设备情况管理</li>
            <li class="sideli">基础信息维护</li>
            <li class="sideli">用户管理</li>
            <li class="sideli">系统设置</li>
            <li class="sideli">操作日志</li>
        </ul>
    </div>
    <div id="rightcont">
        <div class="adminbar">
            <label>用户名检索</label><input></input>
            <label>日志类检索</label><select></select>
            <label>日志时间检索</label>
        </div>
        <div class="logtable">
            <table>
                <tr>
                    <th>日期</th>
                    <th>用户名</th>
                    <th>日志内容</th>
                </tr>
            </table>
        </div>
    </div>
</div>


{% endblock %}