{% extends "base.html" %} {% block title %}系统设置|管理后台 - 设备信息管理系统{% endblock %} {% block content %} {% include "nav.html" %}
<div id="admincontent">
    <div id="leftmenu">
        <ul id="sideul" class="nav nav-sidebar">
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.admin')}}">首页</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.query')}}">数据查询</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.lvrmanager')}}">弱电间信息管理</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.dvrmanage')}}">设备信息管理</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.dvrstatus')}}">设备情况管理</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.basicinfo')}}">基础信息维护</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.usrmanage')}}">用户管理</a></li>
            <li class="sideli"><a class="adminmenu sideactive" href="{{url_for('adminbg.sysmanage')}}">系统设置</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.logviews')}}">操作日志</a></li>
            <li class="sideli"><a class="adminmenu" href="{{url_for('adminbg.notelist')}}">通知公告管理</a></li>
        </ul>
    </div>
    <div id="rightcont">
        <h1 class="admintitle">系统设置</h1>
        <div id="warning" class="alert alert-danger disno" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message[1] }}
        </div>
        {% endfor %}
        <form id="adminform" method="POST" action="{{url_for('adminbg.sysmanage')}}" onsubmit="return check($('#syspagn').val())">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <label class="adminlabel">分页条数（前后台均影响）</label>
            <input id="syspagn" class="form-control input-lg input-serach" name="syspagen" value="{{syspagn}}"></input>

            <button type="submit" id="syssbutton" class="btn btn-primary">保存设置</button>
        </form>
    </div>
</div>


{% endblock %}