{% extends "base.html" %} {% block title %}管理后台 - 设备信息管理系统{% endblock %} {% block content %}
<div id="nav">
    <div class="navblock">
        <div class="navlogo">设备信息管理系统</div>
        <div class="navlist">
            <ul class="menu">
                <li class="nav-child"><span class="uname">{{ current_user.username }}</span></li>
                <li class="nav-child"><a href="../">返回前台</a></li>
                <li class="nav-child"><a href="../logout">登出</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="content">
    <div id="leftmenu">
        <ul>
            <li>数据查询</li>
            <li>弱电间信息管理</li>
            <li>设备信息管理</li>
            <li>设备情况管理</li>
        </ul>
    </div>
    <div id="rightcont">

    </div>
</div>


{% endblock %}