<div id="nav">
    <div class="navblock">
        <div class="navlogo"><a href="{{url_for('indexview.index')}}">设备信息管理系统</a></div>
        <div class="navlist">
            <ul class="menu">
                <li class="nav-child"><span class="uname">{{ current_user.username }}</span></li>
                {% if current_user.is_administrator() %} {% if 'adminbg' in request.url_rule.endpoint %}
                <li class="nav-child"><a href="{{url_for('indexview.index')}}">返回前台</a></li>
                {% else %}
                <li class="nav-child"><a href="{{url_for('adminbg.admin')}}">管理后台</a></li>
                {% endif %} {% endif %}
                <li class="nav-child"><a href="{{url_for('profileview.userinfo',username= current_user.username)}}">个人中心</a></li>
                <li class="nav-child"><a href="{{url_for('loginview.logout')}}">登出</a></li>
            </ul>
        </div>
    </div>
</div>