<div id="nav">
    <div class="navblock">
        <div class="navlogo">设备信息管理系统</div>
        <div class="navlist">
            <ul class="menu">
                <li class="nav-child"><span class="uname">{{ current_user.username }}</span></li>
                {% if current_user.is_administrator() %}
                <li class="nav-child"><a href="{{url_for('adminbg.admin')}}">管理后台</a></li>
                {% endif %}
                <li class="nav-child"><a href="{{url_for('userinfo',username= current_user.username)}}">个人资料</a></li>
                <li class="nav-child"><a href="{{url_for('loginview.logout')}}">登出</a></li>
            </ul>
        </div>
    </div>
</div>