{% extends "base.html" %}{% import 'bootstrap/wtf.html' as wtf %}{% block title %}{{ keyword }}{{ username }}的个人资料-设备信息管理系统{% endblock %}{% block content -%} {% include "nav.html" %}

<div id="content">
    <div id="bnavigation">
        <ol class="breadcrumb">
            <li>当前位置: <a href="{{url_for('indexview.index')}}">首页</a></li>
            <li class="active">
                <a href="{{url_for('profileview.userinfo',username=username)}}">{{ username }}的个人资料</a>
            </li>
        </ol>
    </div>
    <div id="profile">
        <div class="profileleft">
            <div class="protitle">待办事项{% if current_user.username == username %}<button onclick="jsload_addevent('{{username}}')" class="btn btn-primary nadeventp">创建新事项</button></div>
            {% if not pevent %}
            <lable>暂无</lable>
            {% else %}
            <ul class="noticeul">
                <li class="noticeli">
                    <label class="noticeinline eventname">待办事项</label>
                    <label class="noticeinline ecreatedate">创建时间</label>
                    <label class="noticeinline ecompdate">截止时间</label>
                </li>
                {% for eventlist in pevent %}
                <li class="noticeli">
                    <label class="noticeinline eventname"><a href="#" onclick="jsload_event('{{eventlist.id}}')">{{ eventlist.eventname }}</a></label>
                    <label class="noticeinline ecreatedate">{{ eventlist.ecreationdate }}</label>
                    <label class="noticeinline ecompdate">{{ eventlist.eventtime }}</label>
                </li>
                {% endfor %}
            </ul>
            {% endif %} {% else %}
        </div>
        <ul class="noticeul">
            <label>您无法查看他人待办事项</label>
        </ul>
        {% endif %}
    </div>
    <div class="profileright">
        <div class="protitle">通知公告</div>{% if not note %}
        <lable>暂无</lable>
        {% else %}
        <ul class="noticeul">
            <li class="noticeli">
                <label class="noticeinline noticename">公告名称</label>
                <label class="noticeinline noticedate">创建时间</label>
                <label class="noticeinline noticeuser">创建人</label>
            </li>
            {% for notelist in note %}
            <li class="noticeli">
                <label class="noticeinline"><a href="{{url_for('indexview.indexnotice',id=notelist.id)}}">{{ notelist.articlename }}</a></label>
                <label class="noticeinline noticedate">{{ notelist.createdate }}</label>
                <label class="noticeinline noticeuser">{{ notelist.createuser }}</label>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="profileleft">
        <div class="protitle">{{ username }} 用户资料</div>
        <div class="profile-user-info">
            <div class="profile-info-row">
                <div class="profile-info-name">用户名</div>
                <div class="profile-info-value">{{ username }}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">用户权限</div>
                <div class="profile-info-value">{{ permission }}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">上次登录时间</div>
                <div class="profile-info-value">{{ date }}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">上次IP</div>
                <div class="profile-info-value">{{ ip }}</div>
            </div>
        </div>
    </div>
    <div class="profileright">
        <div class="protitle">修改密码</div>
        {% if current_user.username == username %} {% from "_changepwd.html" import render_field %}
        <form class="form" method="POST">
            {{ form.hidden_tag() }}
            <table>
                {{render_field(form.oldpwd)}} {{render_field(form.newpwd)}} {{render_field(form.confirm)}}
            </table>
            {{ form.submit }}
        </form>
        {% for message in get_flashed_messages() %}
        <span class="warning">{{ message }}</span> {% endfor %} {% else %}
        <label>您无法修改他人密码</label> {% endif %}
    </div>
</div>
</div>
{%- endblock -%}